body {
  margin: 0;
  padding: 0;
}
.slider__container {
  height: 160px;
  width: 640px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.spotify {
  width: 100px;
  height: 100px;
}
.logo {
  width: 96px;
}
.code-stripes {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding-left: 20px;
}
.bar-code {
  width: 6px;
  background-color: black;
  border: 2px solid black;
  border-radius: 5px;
}
.type-one {
  height: 50px;
}
.type-two {
  height: 35px;
}
.type-three {
  height: 30px;
}
.type-four {
  height: 20px;
}
.type-five {
  height: 10px;
}
.type-six {
  height: 5px;
}
