body {
  margin: 0;
  padding: 0;
}
.test {
  display: flex;
  flex-direction: row;
}
.slider__container {
  rotate: 0deg;
  background-color: rgb(208, 208, 208);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.spotify {
  width: 70px;
  height: auto;
}
.logo {
  width: 96px;
}
.code-stripes {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.bar-code {
  width: 4px;
  background-color: black;
  border: 2px solid black;
  border-radius: 3px;
  transition: 0.5s;
}
.test-code {
  width: 6px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 5px;
  transition: 0.5s;
}
.shuffler__slider {
  background: transparent;
}
.shuffler__slider::-moz-range-track {
  height: 4px;
  background: #1ed760;
  border-radius: 2px;
}
.shuffler__slider::-moz-range-thumb {
  background: white;
  border: solid 1px white;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

.shuffler__slider::-webkit-slider-runnable-track {
  height: 4px;
  background: #1ed760;
  border-radius: 2px;
}
.shuffler__slider.shuffler__slider::-webkit-slider-thumb {
  background: white;
  border: solid 1px white;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}
